<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Панель управления</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">

  <link rel="stylesheet" type="text/css" href="/admin/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/admin/style/dataTables.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/admin/style/admin.css">
	<link rel="stylesheet" type="text/css" href="/admin/style/admin.min.css">

  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <!-- Morris.js charts -->
  <script src="/admin/script/raphael.min.js"></script>
  <script src="/admin/script/morris.min.js"></script>

  <script type="text/javascript" src="/admin/script/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="/admin/script/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/admin/script/admin.js"></script>
</head>
<body>
  <div class="head">
    <div class="panel_logo"></div>
    <div class="mobile_menu">
      <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="account">
      <div class="user">
        <div class="min_user_ava">
          <img src="../../../image/load.gif">
        </div>
        <div class="min_user_name"><%= user %></div>
        <div class="min_user_btn">
          <button id="message"></button>
          <button id="logout"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="left_menu">
    <div class="menu_btn btnact">Статистика</div>
    <div class="menu_btn">Локализация</div>
    <div class="menu_btn">Товары</div>
    <div class="menu_btn">Меню и навигация</div>
    <div class="menu_btn">Пользователи</div>
    <div class="menu_btn">Почта</div>
    <div class="menu_btn">Отчеты</div>
  </div>
  <div class="content">
    <!-- Статистика -->
    <div class="page active">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua" id="tovars">
            <div class="inner">
              <h3><%= tovar.length %></h3>
              <p>Количество товаров</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green" id="users">
            <div class="inner">
              <h3>53</h3>
              <p>Пользователей</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow" id="online">
            <div class="inner">
              <h3>1</h3>
              <p>Онлайн</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red" id="money">
            <div class="inner">
              <h3>65</h3>
              <p>Продано товаров</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <div class="nav-tabs-custom">
        <div class="tab-content no-padding">
          <!-- Morris chart - Sales -->
          <div class="chart tab-pane active" id="revenue-chart"></div>
          <div class="morris-hover-point" style="color: #3c8dbc"></div>
        </div>
      </div>


    </div>
    <!-- Настройки сайта -->
    <div class="page">
      <div class="block_box">
        <span>Активность сайта</span>
        <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
        <div class="online_site_status">Сайт открыт для пользователей</div>
      </div>

      <div class="block_box big">
        <span>Локализация</span>

        <div class="local_line" style="border-bottom: 1px solid #d4d4d4;">
          <div class="ll_block">
            <textarea class="txt_area ru"></textarea>
          </div>
          <div class="ll_block">
            <textarea class="txt_area ua"></textarea>
          </div>
        </div>

        <div class="local_line" style="border-bottom: 1px solid #d4d4d4;">
          <div class="ll_block">
            <textarea class="txt_area ru"></textarea>
          </div>
          <div class="ll_block">
            <textarea class="txt_area ua"></textarea>
          </div>
        </div>

        <div class="local_line" style="border-bottom: 1px solid #d4d4d4;">
          <div class="ll_block">
            <textarea class="txt_area ru"></textarea>
          </div>
          <div class="ll_block">
            <textarea class="txt_area ua"></textarea>
          </div>
        </div>

      </div>
    </div>
    <!-- Товары -->
    <div class="page">
      <div class="EDIT_MODAL" id="EDIT_MODAL">
        <div class="backet_load"></div>
        <div class="edit_data">

          <div class="ed_line el_max">
            <span>Название товара</span>
            <input type="text" id="tName" placeholder="Введите название товара на Русском">
            <input type="text" id="tName_ua" placeholder="Введите название товара на Украинском">
          </div>



          <div class="ed_line el_50">
            <span>Категория</span>
            <select id="tCategories" onchange="ADMIN.CHANGE_TYPE()">
              <option value="none" disabled selected>Выберите категорию</option>
              <% for(var i = 0; i < menu.length; i++){ %>
                <% if(menu[i].categories !== 0){ %>
                  <option value="<%= menu[i].categories %>"><%= menu[i].name %></option>
                <% } %>
              <% } %>
            </select>
          </div>

          <div class="ed_line el_50">
            <span>Тип</span>
            <select id="tType"></select>
          </div>

          <div class="ed_line el_50">
            <span>Цена</span>
            <input type="text" id="tPrice">
          </div>

          <div class="ed_line el_50">
            <span>Изображение</span>
            <input type="file" name="file" id="tFile">
          </div>

          <div class="ed_line el_50  he_50">
            <span>Описание на Русском</span>
            <textarea id="tText"></textarea>
          </div>

          <div class="ed_line el_50  he_50">
            <span>Описание на Украинском</span>
            <textarea id="tText_ua"></textarea>
          </div>



          <button type="button" class="btn btn-block btn-success btn-lg" onclick="ADMIN.SAVE();">Сохранить</button>
          <button type="button" class="btn btn-block btn-danger btn-lg" onclick="ADMIN.CANCEL()">Отмена</button>
        </div>
      </div>
      <div class="block_box">
        <button type="button" id="newTovar" class="btn btn-block btn-success btn-lg">Добавить товар</button>
        <!-- <button type="button" class="btn btn-block btn-success btn-lg">Success</button> -->
        <!-- <button type="button" class="btn btn-block btn-danger btn-lg">Danger</button> -->
        <!-- <button type="button" class="btn btn-block btn-warning btn-lg">Warning</button> -->
      </div>

      <div class="block_box big">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Список товаров</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="background: white;">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th>Активность</th>
                  <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < tovar.length; i++){ %>
                    <tr>
                      <td> <%= tovar[i].AI %></td>
                      <td>
                        <%= tovar[i].title %>
                        <small>
                          <div class="miniTitleNameIcon"></div>
                          <%= tovaruk[i].title %>
                        </small>
                      </td>
                      <td>
                        <%= tovar[i].price %> UAH
                        <div class="sale">
                          <% if(tovar[i].sale[0]){ %>
                            Скидка: <%= tovar[i].sale[1] %> %
                          <% } %>
                        </div>
                      </td>

                      <% if(tovar[i].availability){ %>
                          <td style="background: linear-gradient(to top, #146f1d, #1db91a); text-align: center; color: white">Товар активен</td>
                      <% } else { %>
                        <td style="background: linear-gradient(to top, #6f1414, #b91a1a); text-align: center; color: white">Товар неактивен</td>
                      <% } %>

                      <td>
                        <a class="btn btn-app" title="Редактировать" onclick="ADMIN.EDIT(<%= tovar[i].AI %>)">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-app" title="Удалить" onclick="ADMIN.REMOVE(<%= tovar[i].AI %>)">
                          <i class="fa fa-ban"></i>
                        </a>
                      </td>
                    </tr>
                  <% } %>


                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th>Активность</th>
                  <th>Действия</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
      </div>
    </div>


    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
    <div class="page"></div>
  </div>
  <div class="bottom"></div>
</body>
</html>
