<div class="col-md-6 col-sm-4 clearfix">
    <ul class="notification-area pull-right">
        <li id="full-view"><i class="ti-fullscreen"></i></li>
        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
        <li class="dropdown">
            <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                <span><%= noty.length %></span>
            </i>
            <div class="dropdown-menu bell-notify-box notify-box">
                <span class="notify-title">У вас есть <%= noty.length %> новых уведомлений</span>
                <div class="nofity-list">

                    <% for(var i = 0; i < noty.length; i++){ %>
                    <a href="#" class="notify-item">
                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                        <div class="notify-text">
                            <p><%= noty[i].title %></p>
                            <span><%= noty[i].date %></span>
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span><%= msg.length %></span></i>
            <div class="dropdown-menu notify-box nt-enveloper-box">
                <span class="notify-title">У вас есть <%= msg.length %> новых сообщения</span>
                <div class="nofity-list">
                    <% for(var i = 0; i < msg.length; i++){ %>
                    <a href="#" class="notify-item">
                        <div class="notify-text">
                            <p><%= msg[i].b %></p>
                            <span class="msg"><%= msg[i].d.substring(0,50) %>...</span>
                            <span><%= msg[i].date %></span>
                        </div>
                    </a>
                    <% } %>                   
                </div>
            </div>
        </li>
        <li class="settings-btn">
            <i class="ti-settings"></i>
        </li>
    </ul>
</div>