<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>≡ Авторизация</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">

  <link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <link rel="stylesheet" type="text/css" href="/style/auth/auth.css">
	<link rel="stylesheet" type="text/css" href="/style/auth/auth.min.css">
  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

	<script type="text/javascript" src="script/global.js"></script>
  <script type="text/javascript" src="script/auth/auth.js"></script>
</head>
<body>
<div class="top">
	<div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
		<div class="logotype" style="background-image: url(../../../image/<%= conf.site_logo %>)"></div>
		<div class="topNavBlockOfBtm">
			<a href="tel:<%= conf.number %>" class="contact_number"><%= conf.number %></a>
		</div>
	</div>
	<div class="topLine twoLine">
		<div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 1){ %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name %></div></a>
        <% } else { %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
        <% } %>
      <% } %>
		</div>
	</div>

	<div class="opensMenu">
  <% for(var i = 0; i < menu.length; i++) { %>
    <% if(menu[i].podlink.length > 1){ %>
      <div class="menu_data <%= menu[i].ml %>">
  			<div class="menu_title"><%= menu[i].name %></div>
  			<div class="menuLeft">
          <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
            <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
          <% } %>
  			</div>
  			<div class="menuRight"></div>
  		</div>
    <% } %>
  <% } %>
	</div>
</div>

<div class="content">
  <div class="main-box">
    <div class="slider-cont">
      <div class="signup-slider">
        <div class="img-txt">
          <div class="img-layer"></div>
          <h1>The hardest part of starting up is starting out for you.</h1>
          <img src="https://static.pexels.com/photos/33972/pexels-photo.jpg"/>
        </div>
        <div class="img-txt">
          <div class="img-layer"></div>
          <h1>We understand you and your business, We have the right solutions for you.</h1>
          <img src="https://static.pexels.com/photos/257897/pexels-photo-257897.jpeg"/>
        </div>
        <div class="img-txt">
          <div class="img-layer"></div>
          <h1>Join US Now!</h1>
          <img src="https://static.pexels.com/photos/317383/pexels-photo-317383.jpeg"/>
        </div>
      </div>
    </div>


    <div class="form-cont">
      <div class="top-buttons">
        <button class="to-signup ">
          <%= conf.auth_local[4] %>
        </button>
        <button class="to-signin top-active-button">
          <%= conf.auth_local[5] %>
        </button>
      </div>
      <div class="form form-signup">
        <div class="errorUP"></div>
        <div class="backet_load" style="display: none; background-image: url(../../../image/loaders/<%= conf.loader %>"></div>
        <div class="aForm" action="#">
          <lable><%= conf.auth_local[6] %></lable>
          <input type="text"
                 placeholder="<%= conf.auth_local[7] %>" id="newName">
          <lable>E-MAIL</lable>
          <input type="text"
                 placeholder="<%= conf.auth_local[8] %>" id="newEmail">
          <lable><%= conf.auth_local[1] %></lable>
          <input type="password"
                 placeholder="<%= conf.auth_local[9] %>" id="newPass">
          <p class="terms">
            <input type="checkbox" id="checkPrav">
            <a href="#" class="lined-link"><%= conf.auth_local[10] %></a>
          </p>
          <input type="submit" class="form-btn" value="<%= conf.auth_local[11] %>" onclick="AUTH.POST_REGISTER()"/>
          <a href="#" class="lined-link to-signin-link" style="white-space: pre"><%= conf.auth_local[12] %></a>
        </div>
      </div>

      <div class="form form-signin">
        <div class="errorUP"></div>
        <div class="backet_load" style="display: none; background-image: url(../../../image/loaders/<%= conf.loader %>"></div>
        <div class="aForm">
          <lable><%= conf.auth_local[0] %></lable>
          <input type="email" placeholder="<%= conf.auth_local[0] %>" value="" id="login">
          <lable><%= conf.auth_local[1] %></lable>
          <input type="password" placeholder="<%= conf.auth_local[1] %>" value="" id="pass">
          <input type="submit" class="form-btn" value="<%= conf.auth_local[2] %>" onclick="AUTH.POST_AUTH()"/>
          <a href="#" class="lined-link to-signup-link"><%= conf.auth_local[11] %></a>
        </div>
      </div>
    </div>
    <div class="clear-fix"></div>
  </div>
</div>

<div class="siteMap">
  <div class="mapmap">
    <div class="LBB">
      <% for(var i = 0; i < menu.length; i++) { %>
          <a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name %></div></a>
      <% } %>
    </div>
    <div class="CBB">
      <div class="vectorLogo"></div>
      <div class="copiright"><%= conf.copiright %></div>
      <div class="socials">
        <% for(var i = 0; i < conf.socials.length; i++) { %>
            <a href="<%= conf.socials[i].link %>"><div class="socBtn" style="<%= conf.socials[i].img %>"></div></a>
        <% } %>
      </div>
      <div class="copiright developer">Site created by "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
    </div>
    <div class="RBB">
      <div class="adressLineMap"><%= conf.phoneTitle %></div>
      <a href="tel:<%= conf.number %>" class="adressLineMap"><%= conf.number %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap"><%= conf.emailTitle %></div>
      <a href="mailto:<%= conf.email %>?subject=SweetWords" class="adressLineMap"><%= conf.email %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap">
        <div class="lang" id="ua" title="Українська версія"></div>
        <div class="lang" id="ru" title="Русская версия"></div>
      </div>
    </div>
  </div>
</div>
<div id="pageMessages"></div>
</body>
</html>
