<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Vernissage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/style/global.css">
  <link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <link rel="stylesheet" type="text/css" href="/style/oplata/oplata.css">
	<link rel="stylesheet" type="text/css" href="/style/oplata/oplata.min.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
	<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="script/oplata/oplata.js"></script>
  <script type="text/javascript" src="script/global.js"></script>
</head>
<body>
<div class="top">
  <div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
    <a href="index.html">
      <div class="logotype" style="background-image: url(../../../image/<%= conf.site_logo %>)"></div>
    </a>
    <div class="topNavBlockOfBtm">
      <div class="logInBlock"></div>
      <div class="searchBlock">
        <div class="searchLine">
          <input type="text" name="searchTOP" class="searchBlockVal" id="SEARCH" placeholder="Поиск">
        </div>
      </div>
    </div>
  </div>
  <div class="topLine twoLine">
    <div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 1){ %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name %></div></a>
        <% } else { %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="opensMenu">
  <% for(var i = 0; i < menu.length; i++) { %>
    <% if(menu[i].podlink.length > 1){ %>
      <div class="menu_data <%= menu[i].ml %>">
        <div class="menu_title"><%= menu[i].name %></div>
        <div class="menuLeft">
          <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
            <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
          <% } %>
        </div>
        <div class="menuRight"></div>
      </div>
    <% } %>
  <% } %>
  </div>
</div>

<div class="content">
<div class="title_head">
  <%= conf.dostavka_info %>
</div>
<div class="OPLATA_TITLE"><%= conf.oplata_title %></div>
<ul class="cards">
  <% for(var i = 0; i < conf.oplata.length; i++) { %>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--fence" style="background-image: url(../../../data/oplata/<%= conf.oplata[i].img %>)"></div>
        <div class="card__content">
          <div class="card__title"><%= conf.oplata[i].title %></div>
          <p class="card__text"><%= conf.oplata[i].text %></p>
          <!-- <button class="btn btn--block card__btn">Детальнее</button> -->
        </div>
      </div>
    </li>
  <% } %>
</ul>
<div class="OPLATA_TITLE"><%= conf.dostavka_title %></div>
<ul class="cards">
  <% for(var i = 0; i < conf.dostavka.length; i++) { %>
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--fence" style="background-image: url(../../../data/oplata/<%= conf.dostavka[i].img %>)"></div>
        <div class="card__content">
          <div class="card__title"><%= conf.dostavka[i].title %></div>
          <p class="card__text"><%= conf.dostavka[i].text %></p>
          <!-- <button class="btn btn--block card__btn">Детальнее</button> -->
        </div>
      </div>
    </li>
  <% } %>
</ul>

<div class="vector_head"></div>
</div>

<div class="siteMap">
  <div class="mapmap">
    <div class="LBB">
      <% for(var i = 0; i < menu.length; i++) { %>
          <a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name %></div></a>
      <% } %>
    </div>
    <div class="CBB">
      <div class="vectorLogo"></div>
      <div class="copiright">Vernissage © 2018, Все права защищены.</div>
      <div class="socials">
        <% for(var i = 0; i < conf.socials.length; i++) { %>
            <a href="<%= conf.socials[i].link %>"><div class="socBtn" style="<%= conf.socials[i].img %>"></div></a>
        <% } %>
      </div>
      <div class="copiright">Сайт сделан ФЛП "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
    </div>
    <div class="RBB">
      <div class="adressLineMap">Наш телефон для связи</div>
      <a href="tel:<%= conf.number %>" class="adressLineMap"><%= conf.number %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap">Електронная почта</div>
      <a href="mailto:<%= conf.email %>?subject=SweetWords" class="adressLineMap"><%= conf.email %></a>
    </div>
  </div>
</div>
</body>
</html>
