<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>≡ Каталог товаров</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="	//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/tovar/tovar.css">
	<link rel="stylesheet" type="text/css" href="/style/tovar/tovar.min.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
	<script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="script/tovar/tovar.js"></script>
</head>
<body>
<div class="top">
	<div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
		<a href="index.html">
			<div class="logotype"></div>
		</a>
		<div class="topNavBlockOfBtm">
			<a href="tel:<%= conf.number %>" class="contact_number"><%= conf.number %></a>
			<div class="basketBlock">
        <span>0</span>
      </div>

		</div>
	</div>
	<div class="topLine twoLine">
		<div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 1){ %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name %></div></a>
        <% } else { %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
        <% } %>
      <% } %>
		</div>
	</div>

	<div class="opensMenu">
  <% for(var i = 0; i < menu.length; i++) { %>
    <% if(menu[i].podlink.length > 1){ %>
      <div class="menu_data <%= menu[i].ml %>">
  			<div class="menu_title"><%= menu[i].name %></div>
  			<div class="menuLeft">
          <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
            <a href="#"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
          <% } %>
  			</div>
  			<div class="menuRight"></div>
  		</div>
    <% } %>
  <% } %>
	</div>
</div>

<div class="content tovar">
	<div class="topfilters"></div>
	<div class="leftfilters"></div>
	<div class="tovar_data">
		<div class="container">
      <div class="well well-sm">

          <div class="btn-group">
              <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
              </span></a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                  class="glyphicon glyphicon-th"></span></a>
          </div>
      </div>
      <div id="products" class="row list-group">
        <% for(var i = 0; i < tovarArr.length; i++) { %>
          <div class="item  col-xs-4 col-lg-4 grid-group-item">

    					<div class="thumbnail">
                <% if(tovarArr[i].sale[0]){ %>
                  <div class="sale">
                    <span>Скидка</span>
                    <span><%= tovarArr[i].sale[1] %> %</span>
                  </div>
                <% } %>
                  <div class="water_icon"></div>
    							<img class="group list-group-image" src="../../../data/tovar/<%= tovarArr[i].image %>" alt="" />
    							<div class="caption">
    									<h4 class="group inner list-group-item-heading"><%= tovarArr[i].title %></h4>
    									<p class="group inner list-group-item-text"><%= tovarArr[i].text %></p>
    									<div class="row">
    											<div class="col-xs-12 col-md-6">
                            <% if(tovarArr[i].sale[0]){ %>
                              <p class="lead" style="text-decoration: line-through"><%= tovarArr[i].price %> Грн</p>
                              <p class="lead2" style="color: red"><%= parseInt(tovarArr[i].price - tovarArr[i].price / 100 * parseInt(tovarArr[i].sale[1])) %> Грн</p>
                            <% } else { %>
                              <p class="lead"><%= tovarArr[i].price %> Грн</p>
                            <% } %>
    											</div>
    											<div class="col-xs-12 col-md-6">
    													<a class="btn btn-success" >В Корзину</a>
    											</div>
    									</div>
    							</div>
    					</div>
              <div class="getSuccess">
                <span>Добавлено</span>
              </div>
    			</div>
        <% } %>
      </div>
      <div id="pagination"></div>
    </div>
	</div>
</div>

<div class="siteMap">
	<div class="mapmap">
		<div class="LBB">
			<% for(var i = 0; i < menu.length; i++) { %>
					<a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name %></div></a>
			<% } %>
		</div>
		<div class="CBB">
			<div class="vectorLogo"></div>
			<div class="copiright">Vernissage © 2018, Все права защищены.</div>
			<div class="copiright">Сайт сделан ФОП "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
		</div>
		<div class="RBB">
			<div class="adressLineMap">Наш телефон для связи</div>
			<a href="tel:<%= conf.number %>" class="adressLineMap"><%= conf.number %></a>
			<div class="adressLineMap"></div>
			<div class="adressLineMap">Електронная почта</div>
			<a href="mailto:<%= conf.email %>?subject=SweetWords" class="adressLineMap"><%= conf.email %></a>
		</div>
	</div>
</div>
</body>
</html>
