<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>≡ <%= title %> </title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
  <link rel="stylesheet" type="text/css" href="/style/tovar/tovar.css">
	<link rel="stylesheet" type="text/css" href="/style/tovar/tovar.min.css">
  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js"></script>

  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="script/global.js"></script>
  <script type="text/javascript" src="script/tovar/tovar.js"></script>
</head>
<body>
<div class="top">
	<div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
		<!-- <a href="/"> -->
			<div class="logotype" style="background-image: url(../../../image/<%= conf.site_logo %>)"></div>
		<!-- </a> -->
		<div class="topNavBlockOfBtm">
			<a href="tel:<%= conf.number %>" class="contact_number"><%= conf.number %></a>
      <% if(sessionUser !== undefined){ %>
        <div class="userAccountInBlock"></div>
      <% } else { %>
        <a href="/auth"><div class="logInBlock"></div></a>
      <% } %>
			<div class="basketBlock">
        <span>0</span>
      </div>

		</div>
	</div>
	<div class="topLine twoLine">
		<div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 1){ %>
          <a href="<%= menu[i].glink %>">
            <div class="menuBTN" menu-link="<%= menu[i].ml %>">
              <%= menu[i].name %>
              <!-- <div class="arrow_bottom"></div> -->
            </div>
          </a>
        <% } else { %>
          <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
        <% } %>
      <% } %>
		</div>
	</div>

	<div class="opensMenu">
  <% for(var i = 0; i < menu.length; i++) { %>
    <% if(menu[i].podlink.length > 1){ %>
      <div class="menu_data <%= menu[i].ml %>">
  			<div class="menu_title"><%= menu[i].name %></div>
  			<div class="menuLeft">
          <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
            <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
          <% } %>
  			</div>
  			<div class="menuRight"></div>
  		</div>
    <% } %>
  <% } %>
	</div>
</div>

<div class="content tovar">
	<div class="topfilters"></div>
	<div class="leftfilters"></div>
	<div class="tovar_data">
		<div class="container">
      <div class="well well-sm">

        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"></a>
            <a href="#" id="grid" class="btn btn-default btn-sm"></a>
        </div>
      </div>
      <div id="products" class="row list-group">
        <% for(var i = 0; i < tovarArr.length; i++) { %>
          <% if(tovarArr[i].availability) { %>
          <div class="item  col-xs-4 col-lg-4 grid-group-item">

              <div class="thumbnail">
                <% if(tovarArr[i].sale[0] && (tovarArr[i].sale[0] === 'true')){ %>
                  <div class="sale">
                    <span>Скидка</span>
                    <span><%= tovarArr[i].sale[1] %> %</span>
                  </div>
                <% } %>
                  <div class="water_icon"></div>

                  <img class="group list-group-image" src="../../../data/tovar/<%= tovarArr[i].image %>" alt="" />
                  <div class="caption">
                    <div class="blockOfNavBtn">
                      <div class="BIG_BTN addToJelaniya">
                        <span><%= conf.big_btn[0] %></span>
                      </div>
                      <div class="BIG_BTN addToSravnenie">
                        <span><%= conf.big_btn[1] %></span>
                      </div>
                    </div>

                    <fieldset class="rating">
                        <input type="radio" id="star5_<%= i %>" name="rating_<%= i %>" value="5" /><label class = "full" tovid="<%= tovarArr[i].AI %>" for="star5_<%= i %>" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star5_<%= i %>" name="rating_<%= i %>" value="4.5" /><label class="half" tovid="<%= tovarArr[i].AI %>" for="star5_<%= i %>" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4_<%= i %>" name="rating_<%= i %>" value="4" /><label class = "full" tovid="<%= tovarArr[i].AI %>" for="star4_<%= i %>" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star4_<%= i %>" name="rating_<%= i %>" value="3.5" /><label class="half" tovid="<%= tovarArr[i].AI %>" for="star4_<%= i %>" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3_<%= i %>" name="rating_<%= i %>" value="3" /><label class = "full" tovid="<%= tovarArr[i].AI %>" for="star3_<%= i %>" title="Meh - 3 stars"></label>
                        <input type="radio" id="star3_<%= i %>" name="rating_<%= i %>" value="2.5" /><label class="half" tovid="<%= tovarArr[i].AI %>" for="star3_<%= i %>" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star3_<%= i %>" name="rating_<%= i %>" value="2" /><label class = "full" tovid="<%= tovarArr[i].AI %>" for="star2_<%= i %>" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star2_<%= i %>" name="rating_<%= i %>" value="1.5" /><label class="half" tovid="<%= tovarArr[i].AI %>" for="star2_<%= i %>" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1_<%= i %>" name="rating_<%= i %>" value="1" /><label class = "full" tovid="<%= tovarArr[i].AI %>" for="star1_<%= i %>" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="star0_<%= i %>" name="rating_<%= i %>" value="0" /><label class="half" tovid="<%= tovarArr[i].AI %>" for="star0_<%= i %>" title="Sucks big time - 0.5 stars"></label>

                        <script>
                          $("#star"+<%= tovarArr[i].popular %>+"_<%= i %>").attr("checked","checked")
                        </script>
                    </fieldset>
                      <h4 class="group inner list-group-item-heading"><%= tovarArr[i].title %></h4>
                      <p class="group inner list-group-item-text">
                        <%= tovarArr[i].text %>
                        <div class="shadow">
                          <a class="toDetails" href="/details?tov=<%= tovarArr[i].AI %>"><%= conf.btnDetails %></a>
                        </div>
                      </p>
                      <div class="row">
                          <div class="col-xs-12 col-md-6">
                            <% if(tovarArr[i].sale[0]){ %>
                              <p class="lead" style="text-decoration: line-through"><%= tovarArr[i].price %> Грн</p>
                              <p class="lead2" style="color: red"><%= parseInt(tovarArr[i].price - tovarArr[i].price / 100 * parseInt(tovarArr[i].sale[1])) %> Грн</p>
                            <% } else { %>
                              <p class="lead"><%= tovarArr[i].price %> Грн</p>
                            <% } %>
                          </div>
                          <div class="col-xs-12 col-md-6">
                              <a class="btn btn-success" onclick="Index.setBasket(<%= tovarArr[i].AI %>, <%= i %>)"><%= conf.toBasket %></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="getSuccess">
                <span>Добавлено</span>
              </div>
              <div class="getError">
                <span>Товар уже добавлен</span>
              </div>
          </div>
          <% } %>
        <% } %>
      </div>
      <% if(tovarArr.length > 24){ %>
        <div id="pagination"></div>
        <script>
        $("#pagination").html(createPagination(<%= tovarArr.length / 24 %>, 1));
        </script>
      <% } %>

      <% if(tovarArr.length === 0){ %>
          <div class="NONE_TOVAR">Нет товаров в данной категории :(</div>
      <% } %>
    </div>
	</div>
</div>

<div class="siteMap">
  <div class="mapmap">
    <div class="LBB">
      <% for(var i = 0; i < menu.length; i++) { %>
          <a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name %></div></a>
      <% } %>
    </div>
    <div class="CBB">
      <div class="vectorLogo"></div>
      <div class="copiright"><%= conf.copiright %></div>
      <div class="socials">
        <% for(var i = 0; i < conf.socials.length; i++) { %>
            <a href="<%= conf.socials[i].link %>"><div class="socBtn" style="<%= conf.socials[i].img %>"></div></a>
        <% } %>
      </div>
      <div class="copiright developer">Site created by "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
    </div>
    <div class="RBB">
      <div class="adressLineMap"><%= conf.phoneTitle %></div>
      <a href="tel:<%= conf.number %>" class="adressLineMap"><%= conf.number %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap"><%= conf.emailTitle %></div>
      <a href="mailto:<%= conf.email %>?subject=SweetWords" class="adressLineMap"><%= conf.email %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap">
        <div class="lang" id="ua" title="Українська версія"></div>
        <div class="lang" id="ru" title="Русская версия"></div>
      </div>
    </div>
  </div>
</div>
<div id="pageMessages"></div>
<!-- <div class="container">
  <button class="btn btn-danger" onclick="createAlert('Opps!','Something went wrong','Here is a bunch of text about some stuff that happened.','danger',true,false,'pageMessages');">Add Danger Alert</button>
  <button class="btn btn-success" onclick="createAlert('','Nice Work!','Here is a bunch of text about some stuff that happened.','success',true,true,'pageMessages');">Add Success Alert</button>
  <button class="btn btn-info" onclick="createAlert('BTDubs','','Here is a bunch of text about some stuff that happened.','info',false,true,'pageMessages');">Add Info Alert</button>
  <button class="btn btn-warning" onclick="createAlert('','','Here is a bunch of text about some stuff that happened.','warning',false,true,'pageMessages');">Add Warning Alert</button>
</div> -->
<div class='back-to-top' id='back-to-top' title='Back to top'><i class='fa fa-chevron-up'></i></div>
<div id="basketDATA">
  <div id="bas">
    <div class="basket_close"></div>
    <div class="backet_load" style="background-image: url(../../../image/loaders/<%= conf.loader %>"></div>
    <div class="basket_tovar">
      <div class="BSK"></div>
      <div class="NEXT_pay_bas">Заполнить данные</div>
    </div>
    <div class="basket_info">
      <form action="/payment" enctype="application/json" type="get">
        <p class="input-container">
          <input type="text" name="name" id="input-PaymentName" class="login-input" autocomplete="off" required>
          <label for="input-PaymentName" unselectable="on">Имя</label>
        </p>
        <p class="input-container">
          <input type="text" name="foname" id="input-PaymentFourname" class="login-input" required>
          <label for="input-PaymentFourname" unselectable="on">Фамилия</label>
        </p>
        <p class="input-container">
          <input type="text" name="FamName" id="input-PaymentFamName" class="login-input" required>
          <label for="input-PaymentFamName" unselectable="on">Отчество</label>
        </p>

        <p class="input-container">
          <input type="text" name="FamName" id="input-PaymentPhone" class="login-input" required>
          <label for="input-PaymentPhone" unselectable="on">Номер телефона</label>
        </p>


          <select class="selector" name="dosttype" id="typeOfDostavka" onchange="changeTypeDost($(this).val())" required>
            <option value="0">Самовывоз</option>
            <option value="1">Доставка курьером</option>
            <option value="2">Доставка Новой Почтой</option>
            <option value="3" disabled>Доставка УкрПочтой</option>
          </select>

          <p class="input-container" id="CityOfDost">
            <input type="text" name="city" id="input-PaymentCity" class="login-input" required>
            <label for="input-PaymentCity" unselectable="on">Город</label>
          </p>

          <p class="input-container" id="CityOfPostNP">
            <input type="text" name="city" id="input-PaymentOtdelNP" class="login-input" required>
            <label for="input-PaymentOtdelNP" unselectable="on">Отделение</label>
          </p>

          <button class="bubbly-button" onclick="">Подтвердить заказ</button>
      </form>

    </div>
  </div>
</div>
</body>
</html>
