<div class="siteMap">
	<div class="mapmap">
		<div class="LBB">
			<% for(var i = 0; i < menu.length; i++) { %>
			<a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name[numLang] %></div></a>
      <% } %>
      <a href="/privacy_policy"><div class="punktMapMenu">• <%= globalLocale.privacypolicy %></div></a>
      <a href="/termsofuse"><div class="punktMapMenu">• <%= globalLocale.termsofuse %></div></a>
      <a href="/site_of_map"><div class="punktMapMenu">• <%= globalLocale.sitemap %></div></a>
		</div>
		<div class="CBB">
			<div class="vectorLogo"></div>
			<div class="copiright"><%=  globalLocale.copiright %></div>
      <div class="socials">
        <% for(var i = 0; i < globalLocale.socials.length; i++) { %>
        <a href="<%= globalLocale.socials[i].link %>" target="_blank"><div class="socBtn" style="<%= globalLocale.socials[i].img %>"></div></a>
        <% } %>
      </div>
			<div class="copiright developer">Site created by "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
		</div>
		<div class="RBB">
			<div class="adressLineMap"><%= globalLocale.phoneTitle %></div>
			<a href="tel:<%= contacts.number %>" class="adressLineMap"><%= contacts.number %></a>
			<div class="adressLineMap"></div>
      <div class="adressLineMap"><%= globalLocale.emailTitle %></div>
			<a href="mailto:<%= contacts.email %>?subject=SweetWords" class="adressLineMap"><%= contacts.email %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap">
        <div class="lang" id="en" title="English version"></div>
        <div class="lang" id="ua" title="Українська версія"></div>
        <div class="lang" id="ru" title="Русская версия"></div>
      </div>
      <div class="certificated">
        <div class="certificate" id="byVisa"></div>
        <div class="certificate" id="byMasterCard"></div>
        <div class="certificate" id="byYandex"></div>
        <div class="certificate" id="byFondy"></div>
      </div>

      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

         ym(51732518, "init", {
              id:51732518,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
         });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/51732518" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
		</div>
	</div>
</div>

  