<div class="topLine twoLine">
	<div class="menuBlock">
    <% if(menu.length > 0){ %>
    <% for(var i = 0; i < menu.length; i++) { %>
    <% if(menu[i].podlink.length > 0 && menu[i].podlink[0] !== "/"){ %>
    <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
    <div class="menuBTN" menu-link="<%= menu[i].ml %>"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name[numLang] %> <div class="pLinkIcon"></div></div>
    <% }else{%>
    <div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name[numLang] %> <div class="pLinkIcon"></div></div>
    <% } %>

    <% } else { %>
    <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
    <a href="<%= menu[i].glink %>"><div class="menuBTN"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name[numLang] %>  <div class="pLinkIcon2"></div></div></a>
    <% }else{%>
    <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name[numLang] %> <div class="pLinkIcon2"></div></div></a>
    <% } %>
    <% } %>
    <% } %>
    <% }else{ %>
    Пункты меню отсутствуют
    <% } %>    
  </div>      
</div>
<% if(menu.length > 0){ %>
<div class="opensMenu">
  <% for(var i = 0; i < menu.length; i++) { %>
  <% if(menu[i].podlink.length >= 1 || menu[i].podlink[0] !== "/"){ %>
  <div class="menu_data <%= menu[i].ml %>">
    <div class="menu_title"><%= menu[i].name[numLang]  %></div>
    <div class="menuLeft">   
      <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
      
      <% if(menu[i].podlink[il].pname !== undefined){ %>
      <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname[numLang] %> </div></a>
      <% } %>        
      
      <% } %> 
    </div> 
  </div>
  <% } %>
  <% } %>
</div>
<% } %>
