<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= locale.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/style/leaflet/leaflet.css">
  <link rel="stylesheet" type="text/css" href="/style/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">

  <link rel="stylesheet" type="text/css" href="/style/global.css">
  <link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <link rel="stylesheet" type="text/css" href="/style/contacts/contacts.css">
  <link rel="stylesheet" type="text/css" href="/style/contacts/contacts.min.css">
  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/leaflet/leaflet.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="script/jquery.noisy.min.js"></script>
  <script type="text/javascript" src="/script/maskinput.js"></script>
  <script type="text/javascript" src="script/contacts/contacts.js"></script>
  <script type="text/javascript" src="script/global.js"></script>
  <script type="text/javascript" src="script/basket.js"></script>
  <script src="assets/js/pace.min.js"></script>
  <% if(isAdm){ %>
  <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
  <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>
</head>
<body>
  <%- include ./includes/preloader.ejs %>
  <%- include ./includes/closed.ejs %>  
  <div class="top">
   <div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
    <div class="logotype" style="background-image: url(../../../image/<%= config.logotype %>)"></div>
    <div class="topNavBlockOfBtm">
      <%- include ./includes/session.ejs %>
      <div class="basketBlock">
        <span>0</span>
      </div>
      <a href="tel:<%= contacts.number %>" class="contact_number"><%= contacts.number %></a>
    </div>
  </div>
  <%- include ./includes/menu.ejs %>
</div>
<div class="content">
  <div class="contact block">
    <div class="mainDLG" style="color: white;">
      <div class="mainTitleDLG"><%= locale.usamessage %></div>
      <div class="mainTextDLG"><%= locale.usamessagetxt %></div>
    </div>
    <form class="cf">
      <div class="half left cf">
        <input type="text" name="MyName" id="input-name" placeholder="<%= locale.youname %>">
        <input type="email" name="myEmail" id="input-email" placeholder="<%= locale.youemail %>">
        <input type="text" name="myTheme" id="input-subject" placeholder="<%= locale.yousubject %>">
      </div>
      <div class="half right cf">
        <textarea name="message" type="text" id="input-message" placeholder="<%= locale.youtext %>"></textarea>
      </div>
      <div class="send-button" id="input-submit" onclick="Global.submitmessage()">
        <span class="text"><%= locale.sendmessage %></span>
      </div>
      
      
    </form>
    <div class="zub_lineB" style=""></div>
  </div>
  <div class="container_partners videoBlock">
    <div class="mainDLG" style="color: #fb94be">
      <div class="mainTitleDLG"><%= locale.cooperation %></div>      
      <div class="mainTextDLG" id="titleHtml"></div>
      <textarea id="hideAreea" style="display: none;"><%= locale.cooperationtxt %></textarea>
      <script type="text/javascript">
        $("#titleHtml").append($("#hideAreea").val());
        $("#hideAreea").remove();
      </script>
    </div>
    <div class="block_left">
      <p>
        <%= locale.cooperationtxt2 %>
      </p>
    </div>
    <div class="block_right">
      <ul>
        <% for(var i = 0; i < locale.cooperationArr.length; i++){ %>
        <li><%= locale.cooperationArr[i] %></li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="container_partnersNum">
    <div class="loadersNEW" id="loaderNumber"></div>
    <div class="zub_line"></div>
    <div class="mainDLG" style="color: white;">
      <div class="mainTitleDLG"><%= locale.tocollaborate %></div>
      <div class="mainTextDLG"><%= locale.callyouback %></div>
    </div>

    <div class="number_send_block">
      <input type="text" class="number_phone" id="phoneNumMask" placeholder="<%= locale.yourphonenumber %>">
      <button id="setNumber"><%= locale.sendnumber %></button>
    </div>
    <div class="zub_lineB"></div>
  </div>

  <div class="container_partnersList">
    <div class="mainDLG" style="color: #fb94bd;">
      <div class="mainTitleDLG"><%= locale.ourpartners %></div>
    </div>

    <div class="containerPartnersData">
      <% for(var p = 0; p < partners.length; p++){ %>
      <a href="<%= partners[p].link %>" target="_blank">
        <img src="<%= partners[p].logo %>" style="max-height: 60px; max-width: 220px;">
      </a>
      <% } %>     
    </div>
  </div>

  <div class="container_map">
    <div class="loadersNEW" id="loaderNumber"></div>
    <div class="zub_line"></div>
    <div id="map"></div>
  </div>
</div>
<%- include ./includes/footer.ejs %>
<%- include ./includes/basket.ejs %>
<div id="pageMessages"></div>
</body>
</html>
