<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= locale.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/style/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
  <link rel="stylesheet" type="text/css" href="/style/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
  <link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <link rel="stylesheet" type="text/css" href="/style/dap/dap.css">

  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript" src="script/jquery.noisy.min.js"></script>
  <script type="text/javascript" src="script/dap/dap.js"></script>
  <script type="text/javascript" src="script/global.js"></script>
  <script type="text/javascript" src="script/basket.js"></script>
  <script src="assets/js/pace.min.js"></script>

  <script type="text/javascript" src="/script/swiper.min.js"></script>
  <% if(isAdm){ %>
  <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
  <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>
</head>
<body>
  <%- include ./includes/preloader.ejs %>
  <%- include ./includes/closed.ejs %>  
  <div class="top">
   <div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
    <div class="logotype" style="background-image: url(../../../image/<%= config.logotype %>)"></div>
    <div class="topNavBlockOfBtm">
      <%- include ./includes/session.ejs %>
      <div class="basketBlock">
        <span>0</span>
      </div>
      <a href="tel:<%= contacts.number %>" class="contact_number"><%= contacts.number %></a>
    </div>
  </div>
  <%- include ./includes/menu.ejs %>
</div>

<div class="content" style="padding-top: 30px;">
  <div class="mainDLG">
    <div class="mainTitleDLG post" style="color: #f98eb9"><%= locale.title %></div>
    <div class="mainTextDLG post" style="color: #f98eb9"><%= locale.Officialsitepromotions %></div>
  </div>
  <div class="stock_container">   
    <% if(discounts.length > 0){ %>
    <% for(var i = 0; i < discounts.length; i++){ %>
    <% if(discounts[i].type === 'global'){ %>
    <div class="stock_block bigBonus" style="background-image: url(https://i2.wp.com/rainbowrules.com/wp-content/uploads/2018/01/new-years-sale.jpg?fit=1899%2C1270&ssl=1); color: white;">
      <canvas id="c"></canvas>
      <div class="promo"></div>
      <div class="stock_name"><%= discounts[i].title[parseInt(numLang)] %></div>
      <% if(discounts[i].status){ %>
      <div class="timeOfUse_stock">До <b><%= discounts[i].do %></b><time>23:59</time></div>
      <% }else{ %>
      <div class="timeOfUse_stock"><b><%= locale.completed %></b></div>
      <% } %>
      <a href="/stock?page=1">
        <div class="flex">
          <a href="/stock?page=1" class="bttn">Посмотреть товары</a>
        </div>
      </a>
    </div>
    <% }else{ %>
    <div class="stock_block" style="background-image: url(https://happynewyearday.com/wp-content/uploads/2018/09/41112751_23843156645500149_2945328773043585024_n.png); color: white;">
      <div class="promo"></div>
      <div class="stock_name"><%= discounts[i].title[numLang] %></div>
      <% if(discounts[i].status){ %>
      <div class="timeOfUse_stock">До <b><%= discounts[i].do %></b><time>23:59</time></div>
      <% }else{ %>
      <div class="timeOfUse_stock"><b><%= locale.completed %></b></div>
      <% } %>
      <div class="details_stock open">Детальнее</div>
    </div>
    <% } %>
    <% } %>
    <% } %>  
  </div>
  <div class=" stock">
    <div class="Promotion_Rules">
      <div class="line center"><%= locale.rules %> <a href="http://ladyman.club">ladyman.club</a></div>
      <%= locale.rulesarr %>
    </div>
  </div>
</div>

<%- include ./includes/footer.ejs %>
<%- include ./includes/basket.ejs %>
<div id="pageMessages"></div>
</body>
</html>
