<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= locale.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
  <link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="script/global.js"></script>
  <script type="text/javascript" src="script/basket.js"></script>
  <script src="assets/js/pace.min.js"></script>
  <% if(isAdm){ %>
  <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
  <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>

  <style type="text/css">
  .col-md-12 {
    width: 100%;
    float: none;
    background: white;
    padding: 70px;
  }
  p {
    margin: 0 0 10px;
    max-width: 1024px;
    margin: auto;
  }
</style>
</head>
<body>
  <%- include ./includes/preloader.ejs %>
  <%- include ./includes/closed.ejs %>  
  <div class="top">
   <div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
    <div class="logotype" style="background-image: url(../../../image/<%= config.logotype %>)"></div>
    <div class="topNavBlockOfBtm">
     <a href="tel:<%= contacts.number %>" class="contact_number"><%= contacts.number %></a>
     <%- include ./includes/session.ejs %>
     <div class="basketBlock">
      <span>0</span>
    </div>
  </div>
</div>
<%- include ./includes/menu.ejs %>
</div>

<div class="col-md-12 col-sm-12">
  <h1 style="text-align: center;"><%= locale.title %></h1>
  <div class="DATAPP"></div>
  <textarea id="PPTEXTAREA" style="display: none;"><%= locale.text %></textarea>
  <script type="text/javascript">
    $('.DATAPP').append($('#PPTEXTAREA').val())
  </script>
  <a href="/documents/TermsOfUse.pdf" target="_black">
    <div class="downloadPdfFile">
      <%= locale.download %> PDF
    </div>
  </a>
</div>
<%- include ./includes/footer.ejs %>
</body>
</html>
